<section>
  <h2>Tareas</h2>
  <div class="table-responsive small">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titulo</th>
          <th scope="col">Descripción</th>
          <th scope="col">Fecha de creación</th>
          <th scope="col">Fecha Límite</th>
          <th scope="col">Tipo</th>
        </tr>
      </thead>
      <tbody class="table-group-divider align-middle">
        <tr app-tarea-card></tr>
      </tbody>
    </table>
  </div>
</section>
