<section>
  <h2>Tareas</h2>
  <div class="table-responsive small">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titulo</th>
          <th scope="col">Descripción</th>
          <th scope="col">Fecha de creación</th>
          <th scope="col">Fecha Límite</th>
          <th scope="col">Tipo</th>
          <th scope="col">Detalles</th>
        </tr>
      </thead>
      <tbody class="table-group-divider align-middle">
        <!-- ngUnit -->
        @for (tarea of operaciones.tareas(); track tarea.id) {
        <tr app-tarea-list-row (verDetalles)="onVerDetalles($event)" [tarea]="tarea"></tr>
        }@empty {
        <p class="text-muted">¡Realiza una tarea!</p>
        }
      </tbody>
    </table>
    @if (tareaSeleccionada) {
    <app-tarea-card (eliminarTarea)="onEliminarTarea($event)" (cerrarDetalles)="onCerrarDetalles()"
      [tarea]="tareaSeleccionada"></app-tarea-card>
    }
  </div>
</section>