<form [formGroup]="formulario" (ngSubmit)="onEnviarFormulario()">
  <div class="mb-3">
    <label for="titulo" class="form-label">Titulo</label>
    <input type="text" id="titulo" class="form-control shadow-none bg-secondary border-secondary text-white" formControlName="titulo" placeholder="Título de la tarea">
    <!-- FormControlName debe de coincidir con los nombres declarados en el FormGroup -->
  </div>

  <div class="mb-3">
    <label for="descripcion" class="form-label">Descripcion</label>
    <textarea id="descripcion" class="form-control shadow-none bg-secondary border-secondary text-white" rows="3" formControlName="descripcion"
      placeholder="Describe la tarea"></textarea>
  </div>

  <div class="mb-3">
    <label for="fechaLimite" class="form-label">Fecha limite</label>
    <input type="date" id="fechaLimite" class="form-control shadow-none bg-secondary border-secondary text-white" formControlName="fechaLimite">
  </div>

  <div class="mb-3">
    <label for="tipo" class="form-label">Tipo</label>
    <select id="tipo" class="form-select shadow-none bg-secondary border-secondary text-white" formControlName="tipo">
      <option value="Simple">Simple</option>
      <option value="Recurrente">Recurrente</option>
      <option value="Prioritaria">Prioritaria</option>
    </select>
  </div>

  <button type="submit" class="btn btn-success w-100" [disabled]="formulario.invalid">
    <!-- formulario.invalid hace que el boton del formulario este deshabilitado si no cumple las reglas de validacion -->
    Guardar tarea
  </button>
</form>