<!-- Property binding pasa valores a las propiedades del componente -->
<!-- Event binding reacciona a eventos del componente -->
<th scope="row">1</th>
<td>{{tarea.titulo}}</td>
<td>{{tarea.descripcion}}</td>
<td>{{tarea.fechaCreacion}}</td>
<td>{{tarea.fechaLimite}}</td>
@switch (tarea.tipo){
@case('Simple'){
<td class="tipo text-success">{{tarea.tipo}}</td>
}
@case('Recurrente'){
<td class="tipo text-warning">{{tarea.tipo}}</td>
}
@case('Prioritaria'){
<td class="tipo text-danger">{{tarea.tipo}}</td>
}
}
<td>
    <button class="btn btn-success"  (click)="onVerDetalles()">
        <i class="bi bi-eye-fill" style="color: white;">
        </i>
    </button>
</td>